
.hamburger-btn-close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #3d3d3d;
    animation: scaleCircle 0.5s forwards;
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    transition: 0.5s transform;
    transition: 0.5s transform;
}

@keyframes scaleCircle {
    from {
        display: none;
        -webkit-transform: translate(-50%,-50%) scale(0);
        transform: translate(-50%,-50%) scale(0);
    }
    to {
        display: block;
        -webkit-transform: translate(-50%,-50%) scale(1);
        transform: translate(-50%,-50%) scale(1);
    }
}

.hamburger-btn-close::before {

}

#main {
    -webkit-transition: 0.5s -webkit-opacity;
    transition: 0.5s -webkit-opacity;
    transition: 0.5s opacity;
    transition: 0.5s opacity;}

.opacity-change {
    opacity: 0.5;
}

.hamburger-bar {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transition: 0.5s -webkit-all;
    transition: 0.5s -webkit-all;
    transition: 0.5s all;
    transition: 0.5s all;
}

.hamburger-bar2 {
    visibility: inherit;
    opacity: 1;

}

.bar1 {
    transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 5);
}

.bar2 {
    visibility: hidden;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, -30, 0);

}

.bar3 {
    transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -5);
}

.menu-open {
    left: 64px !important;
}

#menu {
    transition: left .4s;
}

#brand-menu {
    transition: left .2s;
}

.helvetica {
    font-family: Helvetica;
}

.sans-serif {
    font-family: sans-serif;
}

.active-menu {
    background: #ebebeb;
    border-radius: 4px;
}

.fadeOut {
    animation: fadeOut .3s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.menu-title::after {
    content: "";
    display: block;
    width: 18px;
    height: 3px;
    margin: 10px 0;
    background-color: #fff;
}

.content-title::after {
    content: "";
    display: block;
    width: 18px;
    height: 3px;
    margin: 10px 0;
    background-color: black;
}

.menu-content {
    transform: matrix(1, 0, 0, 1, -280, 0);
    -webkit-transition: 0.5s -webkit-all;
    transition: 0.5s -webkit-all;
    transition: 0.5s all;
    transition: 0.5s all;
}

.menu-closed {
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.transition-0 {
    -webkit-transition: 0.6s -webkit-all;
    transition: 0.6s -webkit-all;
    transition: 0.6s all;
    transition: 0.6s all;
}

.transition-1 {
    -webkit-transition: 0.7s -webkit-all;
    transition: 0.7s -webkit-all;
    transition: 0.7s all;
    transition: 0.7s all;
}

.transition-2 {
    -webkit-transition: 0.8s -webkit-all;
    transition: 0.8s -webkit-all;
    transition: 0.8s all;
    transition: 0.8s all;
}

.transition-3 {
    -webkit-transition: 0.9s -webkit-all;
    transition: 0.9s -webkit-all;
    transition: 0.9s all;
    transition: 0.9s all;
}

.transition-4 {
    -webkit-transition: 1s -webkit-all;
    transition: 1s -webkit-all;
    transition: 1s all;
    transition: 1s all;
}

.transition-5 {
    -webkit-transition: 1.1s -webkit-all;
    transition: 1.1s -webkit-all;
    transition: 1.1s all;
    transition: 1.1s all;
}

.transition-6 {
    -webkit-transition: 1.2s -webkit-all;
    transition: 1.2s -webkit-all;
    transition: 1.2s all;
    transition: 1.2s all;
}

.transition-7 {
    -webkit-transition: 1.3s -webkit-all;
    transition: 1.3s -webkit-all;
    transition: 1.3s all;
    transition: 1.3s all;
}

.transition-8 {
    -webkit-transition: 1.4s -webkit-all;
    transition: 1.4s -webkit-all;
    transition: 1.4s all;
    transition: 1.4s all;
}



@tailwind base;
@tailwind components;
@tailwind utilities;